.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  & > header {
    flex: 0 0 auto;
    text-align: center;
  }
}

.title {
  background: linear-gradient(
    135deg,
    transparent 20%,
    #bbb 20%,
    #bbb 80%,
    transparent 80%
  );
  padding: 0.1rem 5rem;
  color: #222;
  user-select: none;
}

.center {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow-y: auto;

  & > *:nth-child(1) {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    & > *:nth-child(1) {
      flex: 0 0 auto;
    }

    & > *:nth-child(2) {
      flex: 0 1 auto;
      overflow: auto;
    }

    & > *:nth-child(3) {
      flex: 0 0 auto;
    }
  }

  & > *:nth-child(2) {
    flex: 1 1 auto;
  }
}

.tools {
  margin: 0 16px;
  text-align: left;
}

.canvas {
  margin: 16px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

  background: linear-gradient(
      45deg,
      #777 25%,
      transparent 25%,
      transparent 75%,
      #777 75%
    ),
    linear-gradient(45deg, #777 25%, transparent 25%, transparent 75%, #777 75%),
    #999;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.button {
  display: inline-block;
  margin: 0.1rem;
  padding: 0.1rem 0.3rem;
  background: #444;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.active {
  background: #fa0;
}
