.TreeView {
  text-align: left;
}

.Layer {
  padding-left: 0.5em;
}

.button {
  display: inline-block;
  margin: 1px;
  padding: 1px;
  border: solid 1px #2af;
  color: #2af;
  opacity: 0.8;
  user-select: none;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.sortHandle:hover {
  background: #555;
}

.layerIndicator, .strokeColor {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
