.TreeView {
  text-align: left;
  overflow-y: auto;
}

.button {
  display: inline-block;
  margin: 1px;
  padding: 1px;
  border: solid 1px #2af;
  color: #2af;
  opacity: 0.8;
  user-select: none;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.sortHandle {
  padding: 0.1rem 0.4rem;
  cursor: pointer;
}

.sortHandle:hover {
  background: #555;
}

.editTarget {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.strokeColor {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  cursor: pointer;
}
