.PenPicker {
  margin: 1em;
  background: #444;
}

.circle {
  display: inline-block;
  margin: 0.1em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #222;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
